body {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	transition: color 0.5s, background-color 0.3s;
}

.dark body {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

code {
	border-radius: 4px;
	padding: 4px 8px;
	background-color: rgb(221, 221, 221);
	transition: color 0.5s, background-color 0.3s;
}

.dark code {
	background-color: rgb(38, 38, 38);
}
